
@{
    ViewBag.Title = "Index";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al gestor de universidades</h1>
    <br />
    <button onclick="window.location.href = '../Alumno/Lista'" class="btn btn-dark">Alumno</button>
    <button onclick="window.location.href = '../Docente/Lista'" class="btn btn-dark">Docente</button>
    <button onclick="window.location.href = '../Maestria/Lista'" class="btn btn-dark">Maestria</button>
    <button onclick="window.locationhref = '../Universidad/Lista'" class="btn btn-dark">Universidad</button>
</div>

