@model Universidad.Models.Maestria
@{
    ViewBag.Title = "Actualizar";
}

<h1>Actualizar</h1>

<h4>Maestria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Actualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IDmaestria" class="control-label">ID</label>
                <input asp-for="IDmaestria" class="form-control" />
                <span asp-validation-for="IDmaestria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="duracion" class="control-label">Duración</label>
                <input asp-for="duracion" class="form-control" />
                <span asp-validation-for="duracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Lista">Volver a la lista</a>
</div>


